@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.Login {
    min-width: 200%;
    height: 55vh;
    justify-content: center;
    align-items: center;
    background-color: #2E2F33;
    color: #D4D4D5;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
}

.encabezado {
    display: flex;
    justify-content: center;
    align-items: center; /* Alinea verticalmente al centro */
}

.icono {
    font-size: 30px;
    color: #3498DB;
    vertical-align: middle;
}


.opciones {
    display: flex;
    justify-content: center;
}

.opciones a {
    text-decoration: none;
    margin-left: 20px;
    margin-right: 10px;
    color: #D4D4D5;
    box-sizing: border-box;
    border-bottom: 3px solid transparent; /* Borde transparente en estado normal */
}

.opciones a:hover,
.opciones a:focus,
.opciones a:active {
    border-bottom: 3px solid #3498DB;
}
.frm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.input-group {
    margin: 10px 0;
    width: 90%;
}

.input-feild {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.input-feild label {
    font-size: 13px;
    margin-left: 10px;
}

.input-feild input {
    min-width: none;
    padding: 10px;
    margin: 5px 0;
    border-radius: 20px;
    border: 1px solid #ccc;
    outline: none;
}

.mantener {
    display: flex;
    justify-content: left;
    font-size: 13px;
    margin-left: 20px;
}

.mantener input {
    cursor: pointer;
    margin: 0 5px;
}

.boton {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 10px 0;
}

.boton input {
    padding: 10px;
    width: 70%;
    border: none;
    border-radius: 50px;
    background-color: #3498DB;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
}

.olvidar {
    display: flex;
    justify-content: center;
    color: #76777A;
    font-size: 13px;
    font-weight: 500;
    margin: 10px 0;
    text-decoration: none;
}

.olvidar:hover {
    color: #666666;
}